<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
  <form class="" action="/piglatinize" method="post">
    <label for="phrase">Enter your phrase:</label>
    <input type="text" name="user_phrase">
    <input type="submit" name="" value="Pig Latinize Word">
  </form>
  </body>
</html>
